body {
    font-size: 18px;
    color: #212121;
}

@media (min-width: 900px) {
    .carousel-caption {
        display: none;
    }
}

.btn-submit {
    font-size: large;
}

.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active {
    background-color: #36caf2 !important;
    color: white !important;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    transition: all .51s ease;
    font-size: medium;
    font-weight: 500;
}

.navbar-brand {
    font-family: 'MonotypeCorsiva';
    letter-spacing: 1px;
}

.navbar-trans {
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: none;
    border-bottom: 1px solid rgba(158, 158, 158, 0.45);
}

.navbar-trans a {
    color: #323746 !important;
}

.navbar-trans .active a {
    background-color: rgba(244, 244, 244, 0.55) !important;
}

.navbar-trans .navbar-collapse.collapse.in {
    background-color: white;
}

.nav>li>a {
    padding-left: 30px;
    padding-right: 30px;
}

.phone-number {
    display: inline !important;
    padding: 5px !important;
    font-family: Roboto;
}

.main-container {
    width: 100%;
    height: auto;
    position: relative;
}

.content-container {
    background-color: white;
    /*padding-top: 50px;*/
    min-height: 500px;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.19);
    padding-bottom: 50px;
}

.remove-padding {
    padding: 0px !important;
}

.under-heading {
    border: 1px solid #212121;
    width: 100px;
}

.image-model-hidden {
    display: none !important;
}

.little-slider-outer {
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 150px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.55);
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#littleCarousel,
#littleCarousel2 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

.little-slider {
    width: 100%;
    height: 75px;
    position: relative;
}

.little-slider ul {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.little-slider li {
    height: 75px;
    float: left;
    list-style: none;
    position: relative;
    width: 150px;
    line-height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img,
.little-slider li img {
    width: auto;
    max-height: 85%;
    max-width: 140px;
}

.image-model {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-model img {
    position: relative;
    animation: zoomIn .25s;
    border: 5px solid white;
}

.popup-close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0%;
    left: 87%;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none !important;
}

.popup-close:hover i {
    color: #eee;
}

.popup-close i {
    font-size: xx-large;
    color: white;
    transition: all .25s ease;
}

footer {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 0px 15px;
    background-color: #0078a0;
}

footer a {
    color: white;
    text-decoration: none;
}

.footer-brand {
    text-decoration: none;
}

.footer-brand small {
    color: white;
    font-family: 'MonotypeCorsiva';
    font-size: 18px;
    line-height: 65px;
    letter-spacing: 2px;
    font-weight: 500;
}

.copyrights,
.copyrights a {
    line-height: 65px;
    color: white !important;
}

.social-block-icon .icon {
    color: #fff;
    font-size: large;
}

.social-block-icon {
    width: 50px;
    height: 50px;
    padding: 8px 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 6px 10px;
    transition: all .25s ease;
    cursor: pointer;
}

.social-block-icon:hover {
    background-color: white;
}

.social-block-icon:hover .icon {
    color: #3bcbf2;
}

.landscape_img {
    width: 90%;
    height: auto;
}

.potrait_img {
    width: 90%;
    height: auto;
}

.landscape_img_landscape {
    width: auto;
    height: 75%;
}

.potrait_img_landscape {
    width: auto;
    height: 90%;
}

.error-msg {
    display: none;
    color: #ed3636 !important;
}

.form-hide {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(245, 245, 245, 0.82);
    top: 0;
    left: 0;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    animation: zoomIn .25s ease;
}

.form-container {
    position: relative;
    z-index: 0;
}

.form-hide {
    position: absolute;
    width: 94%;
    height: 100%;
    z-index: 1;
    background-color: rgba(245, 245, 245, 0.82);
    top: 0;
    left: 15px;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    animation: zoomIn .25s ease;
}

.phone-mobile {
    position: fixed;
    top: 8%;
    right: 3%;
    opacity: 0;
    animation: showafterDelay .51s forwards;
    animation-iteration-count: 1;
    animation-delay: 2s;
    transition: opacity 0s linear;
}

.phone-mobile button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: bounceIn 1s ease;
    animation-delay: 2s;
}

@keyframes showafterDelay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*For Iphone 5*/

@media (min-width: 300px) {
    .navbar-brand small {
        font-size: 80%;
    }
}


/*For Iphone 6*/

@media (min-width: 350px) {
    .navbar-brand small {
        font-size: 92%;
    }
}


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .landscape_img {
        width: 90%;
        height: auto;
    }
    .potrait_img {
        width: 90%;
        height: auto;
    }
    .landscape_img_landscape {
        width: 90%;
        height: auto;
    }
    .potrait_img_landscape {
        width: auto;
        height: 90%;
    }
    .popup-close {
        width: 60px;
        height: 60px;
        left: 91%;
        top: 0%;
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .landscape_img {
        width: 90%;
        height: auto;
    }
    .potrait_img {
        width: 90%;
        height: auto;
    }
    .landscape_img_landscape {
        width: 90%;
        height: auto;
    }
    .potrait_img_landscape {
        width: auto;
        height: 90%;
    }
    .popup-close {
        width: 60px;
        height: 60px;
    }
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .landscape_img {
        width: 90%;
        height: auto;
    }
    .potrait_img {
        width: 90%;
        height: auto;
    }
    .landscape_img_landscape {
        width: 80%;
        height: auto;
    }
    .potrait_img_landscape {
        width: auto;
        height: 90%;
    }
    .popup-close {
        left: 95%;
        top: 0;
    }
}